   .select {
   	width: 30% !important;
   	float: left;
   	display: block;
   	margin: 0;
   }
   
   fieldset {
   	border: 0;
   }
   
   label {
   	display: block;
   	margin: 30px 0 0 0;
   }
   
   .overflow {
   	height: 200px;
   }
   
   #languages {
   	width: 80px;
   }
   
   .ui-selectmenu-open {
   	z-index: 9999999999999 !important;
   }
   
   .ui-selectmenu-button.ui-button {
   	text-align: left;
   	white-space: nowrap;
   	width: 100% !important;
   	height: 30px;
   	margin-bottom: 12px;
   	background: none;
   	border: 1px solid #d3d9de;
   	float: left !important;
   }
   
   body {
   	font-size: 1em;
   	color: #252122;
   	font-family: 'Roboto', sans-serif;
   	font-weight: 300;
   	line-height: 1.7em
   }
   
   a {
   	color: #1aa9c0;
   	font-style: none;
   	text-decoration: none;
   	font-weight: 400;
   	font-size: 14px;
   }
   
   a:hover {
   	opacity: 0.8;
   }
   
   .topbar {
   	position: relative;
   	z-index: 98000000000000;
   	background: white;
   }
   
   .logo {
   	width: 200px;
   	position: relative;
   	z-index: 50000;
   }
   
   .navbar li {
   	list-style: none;
   	float: left;
   	margin-right: 20px;
   }
   
   .navbar {
   	padding-top: 5px;
   	padding-bottom: 5px;
   	background: white;
   	height: 36px;
   	z-index: 200000;
   	position: relative;
   }
   
   .adventages h3 {
   	margin-top: 60px;
   }
   
   button#login_button {
   	font-size: 15px;
   	background: #35889f;
   	color: white;
   	box-shadow: 0px 1px 0px #247798;
   	cursor: pointer;
   }
   
   button#login_button:hover {
   	background: rgb(36, 119, 152);
   }
   
   input,
   option,
   select {
   	padding: 8px 10px 5px 10px;
   	width: 100%;
   	margin-bottom: 12px;
   	border: 1px solid #d3d9de;
   	border-radius: 3px;
   }
   
   button {
   	height: 30px;
   	border: none;
   	border-radius: 3px;
   	padding: 6px 25px 10px 25px;
   	width: ;
   }
   
   span.million {
   	font-size: 30px;
   }
   
   h5 {
   	margin-bottom: 10px;
   	font-weight: 400;
   	font-size: 1.2em;
   	color: #1aa9c0;
   }
   
   h6 {
   	font-size: 1.3em;
   	margin-bottom: 40px;
   	line-height: 1.4em;
   }
   
   h3 {
   	/* margin-top: 40px; */
   	font-size: 2em;
   	margin-bottom: 20px;
   	line-height: 1.4em;
   }
   
   h1 {
   	font-size: 2.6em;
   	line-height: 1.3;
   	margin-bottom: 20px;
   	font-weight: 300;
   	opacity: 0.9
   }
   
   h4 {
   	font-size: 1.4375em;
   	line-height: 1.4em;
   }
   
   header {
   	background: #1aa9c0;
   	background-size: cover;
   	min-height: 100vh;
   	background-position: 50% 0;
   	/*
    	z-index: 5;
		position: relative;
		z-index: 502;
*/
   }
   
   .language-swither {
   	text-align: right;
   	height: 30px;
   	float: right;
   	margin-right: 20px;
   	margin-top: 10px;
   	width: 30px;
   }
   
   .header-content {
   	margin-top: 25px;
   	position: relative;
   	z-index: 500;
   }
   
   .header-text {
   	margin-top: 5%;
   }
   
   .forms {
   	margin-top: -0px;
   	height: auto;
   	position: relative;
   	line-height: 1.2em;
   }
   
   .form {
   	padding: 30px 40px 20px 40px;
   }
   
   .autorization {
   	margin-bottom: 30px;
   	border-radius: 3px;
   	background-image: url(../img/form-bg.svg);
   	background-size: cover;
   }
   
   .adventages {
   	margin-top: 350px;
   }
   
   .people {
   	width: 70vh;
   	bottom: 5vh;
   	position: absolute;
   	z-index: -5;
   }
   
   .registration {
   	background: white;
   	border: 1px solid #d9d9db;
   	height: auto;
   }
   
   .lable-date {
   	padding-bottom: 6px;
   	font-size: 12px;
   	font-weight: 400;
   	color: #676767;
   }
   
   .date {
   	width: 20% !important;
   	float: left;
   	margin-right: 3% !important
   }
   
   .mounth {
   	width: 44%;
   	float: left;
   	margin-right: 3%;
   }
   
   .year {
   	width: 27%;
   }
   
   .date-form {
   	margin: 0px !important;
   }
   
   .sign-up-btn {
   	width: 100%;
   	background: #ffa441;
   	color: white;
   	border: none;
   	padding: 10px 10px 10px 10px;
   	height: 36px;
   	font-size: 14px;
   	text-transform: uppercase;
   	font-weight: 600;
   	letter-spacing: 1.2px;
   	cursor: pointer;
   }
   
   .sign-up-btn:hover {
   	background: #ff9521;
   }
   
   .check {
   	height: 15px;
   	width: 15px;
   	line-height: 0;
   	float: left;
   	padding-right: 5px;
   	margin-right: 10px;
   	margin-bottom: 0;
   }
   
   .copyright-text {
   	width: 100%;
   	margin-top: 20px;
   	font-size: 12px;
   	font-weight: 400;
   	color: #737373;
   }
   
   .copyright-text p {
   	margin-bottom: 10px;
   }
   
   #checkbox_id {
   	float: left;
   	display: block;
   	width: 20px;
   }
   
   h2 {
   	font-size: 2.2em;
   	margin-bottom: 1%;
   	margin-top: 60px;
   	line-height: 1.4em
   }
   
   .video-block {
   	text-align: center;
   	background: #1aa9c0;
   	color: white;
   	height: 10px;
   	margin-top: -1px;
   }
   
   .video {
   	background: white;
   	width: 100%;
   	height: auto;
   	box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.12);
   	margin-top: 40px;
   	margin-bottom: 80px;
   	border-radius: 3px;
   	cursor: pointer;
   	-webkit-transition: 1s;
   	/* Safari */
   	transition: 1s;
   }
   
   .video:hover {
   	box-shadow: 1px 3px 200px rgba(0, 0, 0, 0.2);
   	-webkit-transition: 1s;
   	/* Safari */
   	transition: 1s;
   }
   
   .bg-svg-2 {
   	background-image: url(../img/svg-2.svg);
   	background-size: cover;
   	height: 30vw;
   	margin-top: -1px;
   }
   
   .icon img {
   	float: left;
   	display: block;
   	width: 16%;
   	margin-right: 4%;
   }
   
   .icon {
   	height: 80px;
   }
   
   .half {
   	width: 100%;
   	z-index: -1000;
   	position: relative;
   	float: left;
   }
   
   .about {
   	background: #1aa9c0;
   	color: white;
   	padding-top: 50px;
   }
   
   .svg-3 {
   	background-image: url(../img/svg-3.svg);
   	background-size: cover;
   	background-repeat: no-repeat;
   	width: 100%;
   	height: 40vw;
   	margin-top: -36vw;
   	z-index: 2000;
   }
   
   .svg-5 {
   	background-image: url(../img/svg-5.svg);
   	background-size: 100%;
   	background-repeat: no-repeat;
   	background-position: bottom;
   	width: 100%;
   	height: 50vw;
   	margin-top: -51vw;
   	z-index: 500;
   }
   
   .svg-4 {
   	background-image: url(../img/svg-4.svg);
   	background-repeat: no-repeat;
   	width: 100%;
   	height: 500px;
   	margin-top: -1px;
   }
   
   .first-number {
   	font-size: 72px;
   	font-weight: 100;
   	margin-right: 8px;
   }
   
   .big-nouns {
   	margin-bottom: 10px;
   }
   
   .about-text {
   	margin-top: 40px;
   }
   
   .history {
   	margin-top: 0px;
   }
   
   .photo {
   	width: 100%;
   }
   
   .gallery {
   	margin-top: -400px;
   }
   
   .app {
   	margin-top: 130px;
   }
   
   .bage {
   	width: 250px;
   	margin: 1% 0 5px 10px;
   	float: left;
   	z-index: 600000000;
   	position: relative;
   }
   
   footer {
   	background: #1aa9c0;
   	color: white;
   	padding: 100px 0 50px 0;
   	margin-top: -1px;
   }
   
   .footer-heading {
   	width: 100%;
   	font-size: 1.3em;
   	font-weight: 400;
   	margin-bottom: 8px;
   }
   
   .footer-nav li {
   	padding: 2px 0;
   }
   
   .footer-nav li a {
   	color: white;
   	opacity: 0.8;
   }
   
   .footer-nav li a:hover {
   	color: white;
   	opacity: 1;
   }
   
   .smartphone {
   	width: 100%;
   	z-index: -10;
   	position: relative;
   }
   
   .log-in-field {
   	padding: 8px 10px 5px 10px;
   	width: 100%;
   	margin-bottom: 12px;
   	background: rgb(255, 255, 255);
   	border: 1px solid rgb(255, 255, 255);
   	border-radius: 3px;
   	color: #1aa9c0;
   }
   
   .forgot-password {
   	margin-left: 10px;
   	width: 30px;
   	font-size: 14px;
   	font-weight: 400;
   	color: white;
   }
   
   .million {
   	font-weight: 400;
   }
   
   .big-numbers {
   	margin-bottom: 8px;
   }
   
   .number-text {
   	font-weight: 400;
   	font-size: 15px
   }
   
   .icon-text {
   	font-weight: 400;
   	text-align: left;
   	color: #1aa9c0;
   	line-height: 1.2;
   	padding-top: 3px;
   	float: left;
   	width: 80%;
   }
   
   #languages .selected {
   	color: red;
   }
   
   #languages options {
   	padding: 5px;
   }
   
   .info-2 h3 {
   	margin-top: 90px;
   }
   
   .left-content h3 {
   	margin-top: 60px;
   }
   
   .fa {
   	padding-right: 6px;
   }
   
   .copyright a {
   	color: white;
   	opacity: 0.7;
   }
   
   .copyright {
   	text-align: center;
   	margin-top: 50px;
   	font-size: 14px;
   }
   
   .info-2 {
   	margin-top: 20px;
   	float: left;
   }
   
   .svg-11 {
   	width: 100%;
   	height: 100%;
   	height: 101vh;
   	background-image: url(../img/svg-1.svg);
   	background-size: cover;
   	z-index: 5000px;
   	background-position: bottom;
   }
   
   .demo {
   	z-index: 88888888888888888;
   	position: relative;
   }
   
   .svg1 {
   	width: 100%;
   	height: 100vh;
   	background-image: url(../img/sky.jpg);
   	background-size: cover;
   	margin-bottom: -100vh;
   	z-index: 5000px;
   	position: absolute;
   	z-index: 500;
   	background-position: 50% 0;
   }
   /* Navbar */
   
   .nav {
   	overflow: hidden;
   	z-index: 50000000;
   	width: calc (100% - 50px);
   	float: left;
   }
   
   .nav ul {
   	padding: 0;
   	margin: 0;
   }
   
   .sol-menu li {
   	float: left;
   	display: block;
   	list-style: none;
   }
   
   .sol-menu li a {
   	display: block;
   	text-decoration: none;
   	padding: 15px 30px 10px 0px;
   }
   
   .sol-menu li a:hover {
   	color: #4c6881;
   }
   
   ul.sag-menu {
   	float: right;
   	padding: 8px 10px;
   	overflow: hidden;
   }
   
   .sag-menu i {
   	color: red;
   	margin: 8px;
   	cursor: pointer;
   }
   
   .altmenu-ac {
   	display: none;
   }
   
   .menu-ac {
   	display: none;
   	padding: 10px 0 0 0;
   	cursor: pointer;
   	color: #29afc4;
   	margin: 0;
   }
   
   @media (max-width: 1200px) {
   	.adventages {
   		margin-top: 0px;
   	}
   	.info-2 h3 {
   		margin-top: 0px;
   	}
   	.left-content h3 {
   		margin-top: 0px;
   	}
   	.video-block {
   		text-align: center;
   		background: #1aa9c0;
   		color: white;
   		height: 350px;
   		margin-top: -1px;
   	}
   	.bage {
   		width: 45%;
   		margin: 1% 0 5px 10px;
   		float: left;
   	}
   	.about {
   		padding-bottom: 90px;
   	}
   	.gallery {
   		margin-top: -500px;
   	}
   }
   
   @media (max-width: 992px) {
   	.people {
   		display: none;
   		visibility: hidden;
   	}
   	.header-text {
   		margin-bottom: 5%;
   	}
   	h1 {
   		font-size: 2em;
   	}
   	h2 {
   		font-size: 1.8em;
   		margin-bottom: 1%;
   		margin-top: 60px;
   		line-height: 1.4em;
   	}
   	.adventages {
   		margin-top: 150px;
   	}
   	.video-block {
   		height: 250px;
   	}
   	.men {
   		display: none;
   	}
   	.svg-3 {
   		display: none;
   	}
   	.info-2 {
   		margin-bottom: 40px;
   		float: left;
   	}
   	.big-numbers {
   		margin-bottom: 8px;
   		margin-top: 60px;
   	}
   	.icon img {
   		float: left;
   		display: block;
   		width: 40px;
   		margin-right: 4%;
   	}
   	.ac {
   		display: none;
   	}
   	.nav ul li {
   		float: none;
   	}
   	.menu-ac {
   		display: block;
   		padding-bottom: 8px;
   	}
   	.sol-menu li a {
   		display: block;
   		text-decoration: none;
   		padding: 10px 0px 10px 0px;
   	}
   }
   
   @media (min-width: 992px) {
   	.ac {
   		display: block!important;
   	}
   }
   
   @media (max-width: 576px) {
   	.icon {
   		margin-bottom: 30px;
   	}
   	.icon img {
   		margin: 0 auto;
   		display: inline-block;
   		width: 40px;
   	}
   	.icon-text {
   		width: 100%;
   	}
   	.video-block {
   		height: 452px;
   	}
   	h2 {
   		font-size: 1.5em;
   		margin-bottom: 1%;
   		margin-top: 60px;
   		line-height: 1.4em;
   	}
   	.adventages {
   		margin-top: 0px;
   	}
   	.app {
   		margin-top: 0px;
   	}
   	.smartphone {
   		margin-bottom: -50px;
   	}
   	.footer-nav {
   		margin-bottom: 20px;
   	}
   	button#login_button {
   		width: 100%;
   		margin-bottom: 10px;
   	}
   }
